<div *ngIf="this.data as data; else loading" class="container">
  <ng-container *ngIf="data.message && data.message.heading">
    <h2>{{ data.message.heading }}</h2>
    <p>{{ data.message.body }}</p>
    <ng-container *ngIf="this.data.message.buttonLink || this.data.message.canEnrol">
      <button [routerLink]="data.message.buttonLink" class="btn btn-success">{{ data.message.buttonText }}</button>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="data.requesters.length > 0">
    <app-feedback-user-list
      [users]="data.requesters"
      title="Requesters"
      description="Individuals who have specifically asked you to leave feedback about them.">
    </app-feedback-user-list>
  </ng-container>
  <ng-container *ngIf="data.enrollees.length > 0">
    <app-feedback-user-list
      [users]="data.enrollees"
      title="Enrollees"
      description="All individuals enrolled in the current feedback cycle. Those with the same manager are sorted at the top. Search and sort on each column to help find those about whom you can share valuable feedback.">
    </app-feedback-user-list>
  </ng-container>
</div>
<ng-template #loading>Loading Data...</ng-template>

