/*.egg
/*.log
/*egg-info
/.cache
/.coverage
/.coverage.*
/.coveragerc
/.project
/.pydevproject
/.settings
*/__pycache__
/build
/coverage.xml
/dist
docs/autodoc
/junit.xml
/pylint.xml
/temp
/tmp
/.eggs
tests/integration/.coverage*
tests/integration/__pycache__
tests/unit/__pycache__
*.pyc

/*.idea
*.DS_Store
*.sqlite3
# generated static assets should never be stored in repo
adaero/static/3rdpartylicenses.txt
adaero/static/*.js
adaero/static/*.map
adaero/static/*.css
adaero/static/index.html
adaero/local.ini
docker/bin/docker_common.sh
adaero/test.ini
frontend/package-lock.json

.tox
venv
