/*.egg
/*.log
/*egg-info
/.cache
/.coverage
/.coverage.*
/.coveragerc
/.project
/.pydevproject
/.settings
*/__pycache__
/build
/coverage.xml
/dist
docs/autodoc
/junit.xml
/pylint.xml
/temp
/tmp
/.eggs
tests/integration/.coverage*
tests/integration/__pycache__
tests/unit/__pycache__
*.pyc

/*.idea
*.DS_Store
*.sqlite3
# generated static assets should never be stored in repo
feedback_tool/static/3rdpartylicenses.txt
feedback_tool/static/*.js
feedback_tool/static/*.map
feedback_tool/static/*.css
feedback_tool/static/index.html
feedback_tool/local.ini
docker/bin/docker_common.sh
feedback_tool/test.ini
frontend/package-lock.json

.tox
venv
