$grey: #f2f2f2;
$grey-blue: #656c7e;

// TODO: Move bootstrap import back to angular-cli.json once angular-cli is fixed https://github.com/angular/angular-cli/issues/9020
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
}
#navbar {
    background: $grey-blue;
    padding: 1rem;
}

.navbar-header {
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    display: flex;
    align-items: stretch;
}

.unit-name-box {
    border-left: white 2px solid;
    padding-left: 0.75em;
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.unit-name {
    color: white;
    width: 100px;
    padding-left: 0.5em;
}
